<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASC</title>
    
</head>
<body>
    <img src="/public/img/asc.jpg" alt="">
    <h1>Pengajaran Mengaji untuk Anak-anak oleh Santri/Wati Pondok Pesantren Ashabul Kahfi: Wujud Pengabdian untuk Umat</h1>
    <p>Salah satu kegiatan istimewa di Pondok Pesantren Ashabul Kahfi adalah pengajaran mengaji bagi anak-anak masyarakat sekitar,
        yang dilakukan oleh para santri dan santriwati dengan mengunakan methode <i>bil qolam</i>. 
        Program ini merupakan bagian dari wujud nyata dakwah dan pengabdian pesantren untuk umat, 
        sekaligus sebagai sarana bagi santri untuk mengamalkan ilmu yang telah mereka pelajari di pondok.</p>
    <h5>Tujuan dan Manfaat Program</h5>
    <p>Program ini dirancang untuk memberikan pendidikan agama sejak dini kepada anak-anak, 
        agar mereka memiliki dasar yang kuat dalam membaca Al-Qur'an, memahami nilai-nilai Islam, 
        dan menerapkannya dalam kehidupan sehari-hari. Selain itu, kegiatan ini juga melatih para santri 
        untuk berinteraksi dengan masyarakat, mengasah kemampuan mereka dalam mengajar, dan menanamkan rasa tanggung jawab sosial.</p>
    <h5>Metode Pengajaran yang Menyenangkan</h5>
    <p>Para santri menggunakan metode yang disesuaikan dengan usia dan kemampuan anak-anak. Dengan pendekatan yang penuh kasih sayang dan sabar, mereka mengajarkan:</p>
    <ol>
        <li>Huruf Hijaiyah dan Tajwid</li>
        <li>Cerita Inspiratif dan Pendidikan Moral</li>
        <p>diceritakan sesi bercetita tokoh tokh inspiratif islam</p>
    </ol>
    <p>Pengajaran mengaji ini menjadi salah satu bukti bahwa Pondok Pesantren Ashabul Kahfi tidak hanya berfokus pada pendidikan santri di dalam pesantren, tetapi juga memiliki semangat untuk berkontribusi secara langsung dalam mencerdaskan dan mendidik generasi muda di masyarakat.
        Mari bersama-sama mendukung kegiatan mulia ini, demi terciptanya generasi Qur’ani yang cerdas, berakhlak mulia, dan berdaya guna untuk agama, bangsa, dan negara.</p>
        <div class="cta-buttons">
            <a href="formulir.html" class="cta-button primary-button">Daftar Sekarang →</a>
        </div>
</body>
</html>