<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASC</title>
    
</head>
<body>
    <img src="/public/img/asc.jpg" alt="">
    <h1>Pengajaran Mengaji untuk Anak-anak oleh Santri/Wati Pondok Pesantren Ashabul Kahfi: Wujud Pengabdian untuk Umat</h1>
    <p>Pondok Pesantren Mahasiswa Ashabul Kahfi juga menaungi sebuah lembaga Madrasah Diniah ASC. Al Qur'an Study Club (ASC) merupakan lembaga Madrasah Diniyah dengan metode <i>Bil Qalam</i>. Madin ASC merupakan tempat mengaji bagi anak anak masyarakat sekitar yang termasuk dalam wujud nyata dakwah
         dan pengabdian pesantren untuk umat, 
        sekaligus sebagai sarana bagi santri untuk mengamalkan ilmu yang telah mereka pelajari di pondok.</p>
    <h5>Tujuan dan Manfaat Program</h5>
    <p>Madrasah Diniyah ASC bertujuan untuk menciptakan generasi yang berakhlaqul karimah yang dirancang untuk memberikan pendidikan agama sejak dini kepada anak-anak, 
        agar mereka memiliki dasar yang kuat dalam membaca Al-Qur'an, memahami nilai-nilai Islam, 
        dan menerapkannya dalam kehidupan sehari-hari. Selain itu, kegiatan ini juga melatih para santri 
        untuk berinteraksi dengan masyarakat, mengasah kemampuan mereka dalam mengajar, dan menanamkan rasa tanggung jawab sosial.</p>
    <h5>Metode Pengajaran yang Menyenangkan</h5>
    <p>Para santri menggunakan metode yang disesuaikan dengan usia dan kemampuan anak-anak. ASC memiliki beberapa program yang dijalankan dengan pendekatan yang penuh kasih sayang dan sabar, untuk melaksanakan visi misi serta tujuan berupa: 
    </p>
    <ol>
        <li>Program harian pembelajaran Al Quran metode Bil Qalam dan kegiatan BCM (Bermain, Cerita dan Menyanyi)</li>
        <li>Program bulanan dalam memperingatu hari besar Islam, dan</li>
        <li>Program tahunan berupa kegiatan outbond berupa rihlah atau camping
        </li>
    </ol>
    <p>Pengajaran mengaji ini menjadi salah satu bukti bahwa Pondok Pesantren Ashabul Kahfi tidak hanya berfokus pada pendidikan santri di dalam pesantren, tetapi juga memiliki semangat untuk berkontribusi secara langsung dalam mencerdaskan dan mendidik generasi muda di masyarakat.
        Mari bersama-sama mendukung kegiatan mulia ini, demi terciptanya generasi Qur’ani yang cerdas, berakhlak mulia, dan berdaya guna untuk agama, bangsa, dan negara.</p>
        <div class="cta-buttons">
            <a href="formulir.html" class="cta-button primary-button">Daftar Sekarang →</a>
        </div>
</body>
</html>