<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerja Bakti</title>
</head>
<body>
    <img src="/public/img/roan.jpg" alt="">
    <h1>Kegiatan Ro’an Pondok Pesantren Ashabul Kahfi: Menjaga Kebersihan, Menanamkan Kepedulian</h1>
    <p>Setiap minggu, seluruh santri putra dan santri putri Pondok Pesantren Ashabul Kahfi melaksanakan kegiatan ro’an atau kerja bakti sebagai bentuk tanggung jawab bersama dalam menjaga kebersihan dan keasrian lingkungan pesantren. Kegiatan ini bukan sekadar aktivitas fisik, tetapi juga bagian dari pembelajaran penting tentang nilai-nilai kebersamaan, tanggung jawab, dan kepekaan terhadap lingkungan.</p>
    <h5>Makna di Balik Kegiatan Ro’an</h5>
    <p>Dalam tradisi pesantren, kebersihan adalah cerminan keimanan. Rasulullah SAW bersabda, “Kebersihan adalah sebagian dari iman.” Dengan semangat hadits ini, ro’an menjadi lebih dari sekadar rutinitas mingguan; ini adalah ibadah yang dilakukan dengan niat untuk menjaga amanah Allah SWT atas lingkungan yang telah diberikan kepada kita.</p>
    <p>Kegiatan ini juga diselingi dengan suasana keakraban, candaan ringan antar santri, dan terkadang diakhiri dengan hidangan sederhana dari dapur pesantren. Semua ini menciptakan suasana kerja yang menyenangkan dan penuh semangat.</p>
    <ol>
        <li>Kebersihan Lingkungan Terjaga</li>
            <p>Pesantren menjadi tempat yang nyaman, sehat, dan asri untuk kegiatan belajar, beribadah, dan tinggal.</p>
        <li>Meningkatkan Kebersamaan</li>
            <p>Santri belajar bekerja sama, saling membantu, dan mempererat ukhuwah Islamiyah dalam setiap aktivitas.</p>
        <li>Menanamkan Nilai-Nilai Islami</li>
            <p>Ro’an menjadi sarana pembelajaran langsung tentang pentingnya kebersihan sebagai bagian dari iman.</p>
        <li>Meningkatkan Kesadaran Lingkungan</li>
            <p>Dengan merawat lingkungan pesantren, santri belajar untuk peduli terhadap lingkungan alam sekitar, yang nantinya akan menjadi bekal dalam kehidupan bermasyarakat.</p>
    </ol>
    <p>Mari Jadikan Kebersihan sebagai Budaya Kegiatan ro’an adalah contoh nyata bahwa menjaga kebersihan bukan hanya tanggung jawab individu, tetapi tugas bersama yang bisa menjadi ladang pahala dan kebahagiaan. Dengan lingkungan yang bersih, aktivitas pesantren berjalan lebih lancar, dan suasana belajar menjadi lebih kondusif. </p>
    <h5>Pondok Pesantren Ashabul Kahfi: Bersih Lingkungannya, Bersih Hatinya, Berkah Hidupnya.</h5>
</body>
</html>