<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rihlah</title>
</head>
<body>
    <img src="/public/img/rihlah.jpg" alt="">
    <h1>Liburan Semester Para Santri Pondok Pesantren Ashabul Kahfi: Tadabur Alam dan Wisata Islami yang Menginspirasi</h1>
        <p>Liburan semester menjadi momen yang dinanti-nanti oleh para santri Pondok Pesantren Ashabul Kahfi. Di tengah kesibukan belajar dan rutinitas di pesantren, mereka diajak untuk mengikuti kegiatan liburan yang tak hanya menyegarkan pikiran, tetapi juga memperkaya spiritualitas dan wawasan. Kegiatan ini dikemas dalam bentuk wisata edukasi dan islami dengan tujuan utama tadabur alam, sehingga menjadi pengalaman yang penuh makna dan keberkahan.</p>
    <h5>Makna Tadabur Alam dalam Islam</h5>
        <p>Tadabur alam bukan sekadar rekreasi biasa. Dalam Islam, Allah SWT memerintahkan kita untuk merenungkan keindahan ciptaan-Nya sebagai tanda kebesaran-Nya. Firman Allah dalam Surah Ali-Imran ayat 190 berbunyi:
            <i>“Sesungguhnya dalam penciptaan langit dan bumi, serta pergantian malam dan siang terdapat tanda-tanda (kebesaran Allah) bagi orang-orang yang berakal.”</i>
             Dengan mengunjungi tempat-tempat yang indah dan penuh nilai edukasi, para santri diajak untuk merenungkan ayat-ayat kauniyah (tanda-tanda kebesaran Allah di alam semesta) sambil menikmati suasana liburan.</p>
        <p>Kegiatan liburan semester ini dirancang bukan hanya sebagai hiburan, tetapi juga sebagai sarana pembelajaran yang membekas di hati para santri. Mereka pulang dengan jiwa yang lebih segar, iman yang lebih kuat, dan semangat yang lebih besar untuk terus belajar dan mengamalkan ilmu.
            Mari bersama Pondok Pesantren Ashabul Kahfi, menjadikan setiap momen liburan sebagai perjalanan spiritual yang membawa kita lebih dekat kepada Sang Pencipta.</p>
</body>
</html>