<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegiatan Taklim Rutin</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 8px;
        }
    </style>
</head>
<body>
    <img src="/public/img/takilm.jpg" alt="">

    <h1>Kegiatan Rutinan Pondok Pesantren Ashabul Kahfi: Menghidupkan Tradisi Keilmuan dengan Sanad yang Jelas</h1>
    <p>Pondok Pesantren Ashabul Kahfi memiliki kegiatan rutinan yang diikuti oleh seluruh santriwan dan santriwati 
        sebagai bagian dari tradisi pendidikan Islam yang berakar pada nilai-nilai keilmuan, kebersamaan, dan keberkahan. 
        Kegiatan ini dilaksanakan di bawah bimbingan para asatidz yang memiliki sanad keilmuan yang jelas dan terhubung 
        hingga ke generasi ulama terdahulu, sehingga menjamin kemurnian ilmu yang diajarkan.</p>
    <p>Kegiatan rutinan ini tidak hanya berfokus pada pengajaran ilmu agama, tetapi juga membangun karakter, kedisiplinan, dan semangat ukhuwah Islamiyah di kalangan para santri. Beberapa kegiatan utama yang menjadi bagian dari program rutin meliputi:</p>
    <ol>
        <li>Majelis Taklim Kajian Kitab</li>
            <p>Taklim sendiri dijadwalkan setiap hari pada ba'da subuh hingga pukul 05.30 WIB dan ba'da maghrib sampai isya. Kitab taklim juga berbeda-beda yang diajarkan oleh para asatidz yang terpercaya. Berikut jadwal taklim yang diikuti oleh santriwan-santriwati</p>
            <table>
                <thead>
                    <tr>
                        <th>Waktu</th>
                        <th>Senin</th>
                        <th colspan="2">Selasa</th>
                        <th>Rabu</th>
                        <th>Kamis</th>
                        <th colspan="2">Jumat</th>
                        <th colspan="2">Sabtu</th>
                        <th>Ahad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ba'da Subuh</td>
                        <td>Idhotun Nasyiin</td>
                        <td colspan="2">Mukhtarul Hadist an-Nabawiyah</td>
                        <td>Sirah An-Nabawiyyah</td>
                        <td>Ta'lim Muta'alim</td>
                        <td colspan="2">Mukhtarul Hadist an-Nabawiyah</td>
                        <td colspan="2"><i>Nderes individu</i</td>
                        <td>Targhib Wat Tarhib</td>
                    </tr>
                    <tr>
                        <td>Ba'da Maghrib</td>
                        <td>At-Tibyan Fii Adabi Hammalatil Qur'an</td>
                        <td>Jawahirul Lu'luiyah <br> <i>selasa ganjil</i></td>
                        <td>Jalalul Afham <br><i>selasa genap</i></td>
                        <td>Bil-Qolam</td>
                        <td>Tahlil dan Pembacaan surat Al-Kahfi</td>
                        <td>Idhotun Nasyiin <br><i>jumat ganjil</i></td>
                        <td>Wasailul Wusul Ila Syamail Rasul <br><i>jumat genap</i></td>
                        <td>Kifayatul Akhyar <br><i>sabtu ganjil</i></td>
                        <td>Adabul Islam Fi Nidhomil Usra <br><i>sabtu genap</i></td>
                        <td>Kegiatan Rutinan Mingguan</td>
                    </tr>
                </tbody>
            </table>
            <br>
        <li>Khotmil Al-Qur'an</li>
            <p>Menjadi rutinan pada minggu pertama setiap bulan, seluruh santriwan santriwati mengkhatamkan al-quran secara bersama-sama dimulai dari surat <i>al-fatihah</i> smapai <i>an-nass</i> yang diawali dengan mengirimkan doa dan pengkhususan kepada almarhum/almarhumah.
            Untuk setiap minggunya, seluruh santri membaca <i>al-kahfi</i> pada setiap malam jumat setelah tahlil ba'da maghrib. Pembacaan al-quran bersama juga dilakukan apabila terdapat asatidz yang berhalangan hadir pada jadwal taklim</p>
        <li>Dzikir dan Shalawat Berjamaah</li>
            <ol type="a">
                <li>Dzikir Basyairul Khoirot</li>
                    <p>Merupakan dzikir karangan Syaikh Abdul Qadir Al-Jailani yang dibaca secara bersama-sama seluruh santri yang dipimpin secara langsung oleh pengasuh pondok</p>
                <li>Pemacaan Sholawat diba'</li>
                    <p>Tradisi membaca atau melantunkan sholawat kepada Nabi Muhammad dalam rangka sirah Rasulullah yang dilantunkan secara bersama-sama</p>
            </ol>
    </ol>
    <p>Kegiatan rutinan ini tidak hanya memperkuat keilmuan, tetapi juga mempererat hubungan antar santri dan para asatidz. Tradisi sanad yang dipegang erat dalam pengajaran memberikan nilai istimewa, karena ilmu yang diajarkan bersumber dari jalur yang dapat dipercaya dan penuh berkah. Mari bergabung dalam keberkahan ini, bersama Pondok Pesantren Ashabul Kahfi, mencetak generasi muda yang alim, berakhlak mulia, dan siap mengabdi untuk umat.</p>
</body>
</html>